<form [formGroup]="setProductsQuantity">
  <mat-list>

    <ul class="shopping-list-display">

      <li *ngIf="shoppingCartData.showEmptyCartMessage" class="empty-cart-warning">
        The shopping cart is <span>empty</span>!<br>
        Please, select at least one product from the list!
      </li>

      <li class="shopping-list-item"  *ngFor="let product of shoppingCartData.selectedProductsList; let index=index">

        <div class="product-name">
          {{ product.name }}
        </div>

        <div class="product-quantity">
        <button mat-mini-fab color="primary" class="button-decrease-quantity" (click)="shoppingCartData.decreaseProductQuantityHandler(index)">-</button>
        <input
          #productQuantity
          type="number"
          name="productQuantity"
          min="1"
          max="99"
          required
          (change)="shoppingCartData.setProductQuantity(product, productQuantity.value)"
          [value]="product.quantity"
          formControlName="productQuantity"
          (keypress)="lockInputTypingFromUser($event)"
        />
        <button mat-mini-fab color="primary" class="button-increase-quantity" (click)="shoppingCartData.increaseProductQuantityHandler(index)">+</button>
      </div>

      <div class="product-cost">
        {{ product.value * (product.quantity || 0) | currency: "BRL" }} <br>
        <span class="unity-price">R$ per unity: {{product.value | currency: "BRL" }}</span> 
      </div>

      <div class="button-remove-item">
        <button
          type="button"
          mat-stroked-button
          color="warn"
          (click)="shoppingCartData.removeItemFromCart(product.id)"
        >
          Remove Item
        </button>
      </div>

      </li>
    </ul>

    <mat-list-item class="shopping-cart-total-field">
      Total:<span class="shopping-cart-total-value">{{ shoppingCartData.totalCartCost | currency: "BRL" }}</span>
    </mat-list-item>
  </mat-list>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    routerLink="delivery-informations"
    class="button-buy-now"
  >
    Buy now!
  </button>
</form>
