.product-container{
  border: 2px solid black;
  padding: 20px;
  width: 450px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.produt-value{
  text-align: center;
  width: auto;
  font-size: 18px;
  padding: 10px 0px;
  border: 1px solid black;
}

.product-value-first-word{
  font-weight: bold;
}

figure{
  text-align: center;
}

img{
  height: 300px;
}
